.game-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90vw;
  height: 95vh;
  margin: 0 auto;
  padding: 2.5em 0 0 0;
}

.game-header h1 {
  font-size: 2.6rem;
}

.round-and-hint-container {
  padding: 1em 1.5em;
  display: flex;
  width: 100%;
  background: #485264;
  margin: 0 0 0.4em 0;
  position: relative;
}

.round-dets {
  font-size: 1.2rem;
  flex: 0.25;
  text-align: left;
  font-weight: 600;
}

.hint-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 0.5;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.letter-dash {
  width: 1.2rem;
  height: 0.17rem;
  background-color: rgb(255, 255, 255);
  margin: 0 0.2em;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* .main > div {
  background: #485264;
} */

.main-left {
  flex: 0.2;
  position: relative;
}

.main-center {
  flex: 0.59;
  background: white !important;
}

.main-right {
  flex: 0.2;
  background: #485264;
}

.players-list {
  overflow-y: scroll;
  height: 92%;
  background: #485264;
}

.players-list::-webkit-scrollbar {
  width: 0.8rem;
}

.players-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.players-list::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

.player-li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #282c34;
  padding: 0.6em 1.5em;
  text-align: left;
}

.player-li span {
  padding: 0.1em 0;
}

.player-name {
  font-size: 1rem;
  /* font-weight: 600; */
}

.player-points {
  font-size: 0.85rem;
}

.btns-container {
  position: absolute;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 1em 0; */
  /* background: #3f4657; */
  /* justify-content: center; */
  /* border-top: 1px solid rgb(139, 139, 139); */
}

.btns-container button {
  font-size: 1rem;
  flex: 0.49;
  padding: 0.6em 0;
  background: #485264;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
